<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:component-scan base-package="org.multitest.dubbo"/>

       <dubbo:application name="dubboapi" logger="slf4j"/>

       <dubbo:registry id="localregister" address="zookeeper://localhost:2181"/>

       <dubbo:protocol name="hessian" id="hp" port="20881" keepalive="false" serialization="kyro"/>
       <dubbo:protocol name="dubbo" id="dp" port="20880"/>

       <dubbo:provider protocol="dubbo" threadpool="fixed" threads="10" filter="myLogFilter"/>

       <dubbo:service protocol="dp" registry="localregister" interface="org.multitest.dubbo.service.HelloDubboService" ref="helloSvr" version="1.0.0"/>

       <dubbo:service protocol="hp" registry="localregister" interface="org.multitest.dubbo.service.UpgradeDubboService" ref="downSvr" version="1.0.0"/>
</beans>